@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 94%);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem 1.5rem 12rem 1.5rem;
  width: 100%;
  max-width: 850px;
  height: auto;
  background-color: hsl(0, 0%, 100%);
}

.input-container {
  margin: 3rem 3rem 0 3rem;
  display: flex;
  justify-content: start;
}
.input-container .birth-input {
  display: flex;
  flex-direction: column;
  max-width: 160px;
  margin-right: 1.875rem;
}
.input-container label {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0.4rem 0;
  color: hsla(0, 1%, 44%, 0.693);
  letter-spacing: 0.2rem;
}
.input-container input {
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 94%);
  border-radius: 10px;
  font-size: 2rem;
  padding: 0.8rem 1.3rem;
  font-weight: 700;
}
.input-container input::-moz-placeholder {
  color: hsla(0, 1%, 44%, 0.693);
  font-weight: 700;
}
.input-container input::placeholder {
  color: hsla(0, 1%, 44%, 0.693);
  font-weight: 700;
}
.input-container input:focus {
  border: 1px solid hsl(259, 100%, 65%);
  outline: none;
}
.input-container input::-webkit-inner-spin-button, .input-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-container .invalid-input {
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  margin: 8px 0;
}

.error label {
  color: hsl(0, 100%, 67%);
}
.error input {
  border-color: hsl(0, 100%, 67%);
}
.error input:focus {
  border-color: hsl(0, 100%, 67%);
  outline: none;
}

.age-container {
  margin: -1rem 3rem 3rem 3rem;
  font-size: 4rem;
}
.age-container h1 {
  display: flex;
  flex-direction: row;
  line-height: 1.1;
}
.age-container h1 span:first-child {
  color: hsl(259, 100%, 65%);
  font-style: italic;
  letter-spacing: 1rem;
}
.age-container h1 span:nth-child(2) {
  font-style: italic;
}

.divider {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.divider hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: hsl(0, 0%, 94%);
}
.divider .submit-button {
  cursor: pointer;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  overflow: hidden;
}
.divider .submit-button:hover {
  background-color: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(259, 100%, 65%);
}/*# sourceMappingURL=styles.css.map */